.matchup__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(234, 219, 255, 0.24);
    background-color: #100029;
    border-radius: 8px;
}

.matchup__team {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: var(--small-gap);
    border: 1px solid transparent
}

.matchup__team>p {
    font-size: var(--medium-font-size);
}

.matchup__divider {
    height: 1px;
    margin-inline: 16px;
    background-color: rgba(234, 219, 255, 0.12);
}

.matchup__main-2 {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    flex: 1;
}

.matchup__main-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.matchup__clickarea {
    position: absolute;
    top: -12px;
    left: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    border-radius: 12px;
}

.matchup__main-clickable:hover>.matchup__clickarea {
    background-color: rgba(234, 219, 255, 0.08);
}

.matchup__main-clickable:active {
    opacity: 0.6;
}

.matchup__main-clickable {
    cursor: pointer;
}

.matchup__team__condensed {
    padding-inline: 0;
    width: 64px;
    justify-content: center;
}

.matchup__team__condensed>p {
    text-align: center;
    opacity: 0.8;
    height: var(--medium-font-size)
}

.matchup__empty {
    justify-content: center;
}

.matchup__team__tbd>p {
    color: rgba(255, 255, 255, 0.60);
    font-style: italic;
}

.teamcard__number {
    width: var(--small-font-size);
}

.matchup__team1 {
    border-radius: 8px 8px 0 0;
}

.matchup__team2 {
    border-radius: 0 0 8px 8px;
}

.matchup__team__winner {
    border: 1px solid rgba(234, 219, 255, 0.64);
    background: linear-gradient(0deg, rgba(237, 224, 255, 0.16) 0%, rgba(237, 224, 255, 0.16) 100%), #100029;
}

.matchup__team__loser {
    opacity: 0.6;
}

@media (width < 1132px) {

    .matchup__team {
        padding: 16px 20px;
    }

    .matchup__team__condensed {
        padding-inline: 0;
        width: 54px;
        justify-content: center;
    }

}